:root {
  /* Colors */
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  /* Typography */
  --font-family: "Figtree", sans-serif;
  --font-size-body: 16px;
  --font-weight-medium: 500;
  --font-weight-bold: 800;

  /* Spacing */
  --border-radius: 15px;
  --box-shadow: 8px 8px 0 var(--gray-950);

  --card-width: 327px;
  --card-height: 501px;
}

body {
  height: 100vh;
  background-color: var(--yellow);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

@media (min-width: 1440px) {
  --card-width: 384px;
  --card-height: 522px;
}

.blog-card {
  height: var(--card-height);
  width: var(--card-width);
  background-color: var(--white);
  border-radius: var(--border-radius);
}
